*{
    padding: 0;
    margin:0;
}

.header{
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 16px 32px;
    background: linear-gradient(90deg, #1e293b, #334155);
    color: #ffffff;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    gap: 8px;
}

.nav{
    display: flex;
    gap: 24px;
}

.nav a{ 
    color:#cbd5f5;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 4px;
    transition: color 0.3s;
    font-size: 20px;
}

.nav a:hover{
    color:#ffffff;
}


.nav a.active{
    color:#ffffff;
    border-bottom: 2px solid #38bdf8;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #38bdf8;
}

.main{
    padding : 20px;
    max-width: 1200px;
    margin: auto;
}

.add-task, .progress, .daily-overview, .calendar-view, .all-tasks{
   margin-bottom: 30px;
   padding:20px;
   border: 1px solid #ddd;
   border-radius:8px;
    background-color: #f9f9f9;
}   

#task-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task-form input, #task-form textarea, #task-form select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#task-form button{
    padding:10px;
    background-color: #38bdf8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#task-form button:hover {
    background-color: #0ea5e9;
}

.progress-bar{
    width: 100%;
    height:20px;
    background-color: #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill{
    height: 100%;
    background-color: #10b981;
    width: 0%;
    transition: width 0.3s;
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task-item.completed{
    text-decoration: line-through;
    color: #888;
}
.task-item input[type="checkbox"]{
    margin-right: 10px;
}

.task-details {
    flex-grow:1;
}

.task-priority {
    font-weight:bold;
    color: #ef4444
}

.task-priority.medium{
    color:#f59e0b;
}

.task-priority.low{
    color:#10b981;
}

#calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar-day {
    padding: 10px;
    border: 1px solid #ddd;
    min-height:80px;
}

.calendar-day.tasks{
    background-color: #e0f2fe;
}